.form-container {
  margin: 50px auto;
  padding: 24px;
  width: 424px;

  background: #ffffff;
  border-radius: 8px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-input {
  margin-top: 8px;
  width: 100%;
  padding: 8px 16px;

  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

  border: 1px solid #808080;
  border-radius: 4px;

  box-sizing: border-box;
}

textarea.form-input {
  height: 120px;
  resize: none;
}

.btn-submit {
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  cursor: pointer;
}

.btn-submit:hover {
  background-color: #6c8cff;
}
